.text-primary {
    color: rgba(66, 92, 199, 1)!important;
}
.text-secondary {
    color: rgba(245, 168, 0, 1)!important;
}

.bg-secondary {
    background-color: rgba(153, 155, 158, 1)!important;
}

/* nav */
nav{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(66, 92, 199, 0.75);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(66, 92, 199, 1);
    text-decoration: underline;
    text-decoration-color: rgba(245, 168, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(66, 92, 199, 1);
}

/* Fix jumbotron padding */

.jumbotron {
    padding: 6rem 0rem;
    background-image: url('/images/the-event-discovery-company-background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 16rem 0rem;
    }
}

/* Jumbotron jumbotron-col */

.jumbotron .jumbotron-col {
    color: #FFF;
    background-color: rgba(66, 92, 199, 0.75);
    letter-spacing: 7px;
}

.orange-line {
    letter-spacing: -8px;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 430px){
    .display-4 {
        font-size: 3rem;
    }
}

@media (min-width: 576px){
    .display-4 {
        font-size: 3.5rem;
    }
}


/* Fix spacing of all .container-fluids */

.container-fluid {
    padding-bottom: 2rem;
}

.container-fluid + .container-fluid {
   padding-top: 2rem
}

/* Fix spacing of cards on mobile */

.card {
    margin: auto;
    margin-top: 50px;
}

@media (min-width: 576px){
    .card {
        margin-top: 0px;
    }
}

/* Fix spacing of logos on mobile */

.partner {
    margin: auto;
    margin-top: 50px;
    max-width: 250px;
}

@media (min-width: 576px){
    .partner {
        margin-top: 0px;
        max-width: 100%;
    }
}


/* Contact us section */

.contact {
    background-image: url('/images/geometric-background.png');
}
