.text-primary {
    color: rgba(66, 92, 199, 1)!important;
}
.text-secondary {
    color: rgba(245, 168, 0, 1)!important;
}

/* nav */
nav{
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(66, 92, 199, 0.75);
}

.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(66, 92, 199, 1);
    text-decoration: underline;
    text-decoration-color: rgba(245, 168, 0, 1);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(66, 92, 199, 1);
}

/* Fix jumbotron padding */

.jumbotron {
    padding: 6rem 0rem;
    background-image: url('/images/the-event-discovery-company-background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 16rem 0rem;
    }
}

/* Jumbotron jumbotron-col */

.jumbotron .jumbotron-col {
    color: #FFF;
    background-color: rgba(66, 92, 199, 0.75);
    letter-spacing: 7px;
}

.orange-line {
    letter-spacing: -8px;
}
