/* Fix jumbotron padding */

.jumbotron {
    padding: 6rem 0rem;
    background-image: url('/images/the-event-discovery-company-background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 576px){
    .jumbotron {
        padding: 16rem 0rem;
    }
}

/* Jumbotron jumbotron-col */

.jumbotron .jumbotron-col {
    color: #FFF;
    background-color: rgba(54, 81, 162, 0.75);
    letter-spacing: 7px;
}

.orange-line {
    letter-spacing: -8px;
    color:#f5a706;
}
